body{
  margin: 0;
  padding: 0;
  background: url(SRC.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.Title{
  margin-top: 225px;          /* Probably not the best way to do the margins, but it works for now...*/
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  color: orange;
}
.login-box{
    width: 500px;
    height: 380px;
    background: rgba(0, 0, 0, 0.5);      /* this setting makes the login box transparent */
    color: white;
    top: 55%;                            /* Centers the login box */
    left: 50%;                           /* Centers the login box */
    transform: translate(-50%,-50%);     /* Centers the login box */
    position: absolute;
    box-sizing: border-box;
    padding: 30px 20px;
}
.action-btn button{
   background-color: orange;      /* Green background */
   border: 1px solid black;       /* green border */
   color: white;                  /* White text */
   padding: 10px 24px;            /* Some padding */
   cursor: pointer;               /* Pointer/hand icon */
}
.login-btn:active{
  position: relative;
  top: 2px;
}
.register-btn:active{
  position: relative;
  top: 2px;
}

.login-box p{
    margin: 0;
    padding: 5;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;          /* text color of user input */
    font-size: 16px;
}
.login-box input[type="submit"]{       /* Styling for login button*/
    border: none;
    outline: none;
    height: 40px;
    background: royalblue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover{ cursor: pointer; }  /*changes mouse cursor to a pointer when hovering*/

.login-box input[type="submit"]:active {                   /* Moves the login button downwards when clicked */
    position: relative;
    top: 4px;
    background: orange;
    color: black;
}

.login-box a{                            /* Styling for "Forgot password?" text */
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.login-box a:hover{ color: orange; }     /* "Forgot Password?" text turns orange when hovered over */
